html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,pre,form,p,blockquote,input,abbr,article,aside,figcaption,figure,footer,header,mark,meter,menu,nav,output,progress,section,summary,time{margin:0;padding:0;vertical-align:baseline;}
ul,ol{list-style:none;}
iframe,a,img,button{border:0;font-family: 'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
section,div,img,a{-webkit-tap-highlight-color:transparent;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.hidden{display:none;}
img{vertical-align:middle;}
a{cursor:pointer;}
a:hover{text-decoration: none;}
body{font:12px/24px 'Microsoft YaHei';}
em,i{font-style:normal}
.block{display: block!important;}
.none{display: none;}
/* page */
body,html{
	background: #000;
	height: 100%;
	width: 100%;
    position: absolute;
}
/*debug*/
#debug{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
    z-index: 999;
}
/* loading */
.loading{
    position: absolute;
    left: 50%;
    top:50%;
    width: 160px;
    margin: -20px 0 0 -80px;
}
.loading p { color: #fff; font: 12px/20px ''; text-align: center;}
.load-line{
    width: 160px; height: 10px; border-radius: 10px; margin-top: 10px;
    background: #515151;
    background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#000));
    background: -webkit-linear-gradient(#515151, #000);
    background: -moz-linear-gradient(#515151, #000);
    background: -o-linear-gradient(#515151, #000);
    background: -ms-linear-gradient(#515151, #000);
    background: linear-gradient(#515151, #000);
}
.load-line span{
    display: block;
    width: 0%; height: 10px; border-radius: 10px;
    background: #003e8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#72a8ea), to(#003e8a));
    background: -webkit-linear-gradient(#72a8ea, #003e8a);
    background: -moz-linear-gradient(#72a8ea, #003e8a);
    background: -o-linear-gradient(#72a8ea, #003e8a);
    background: -ms-linear-gradient(#72a8ea, #003e8a);
    background: linear-gradient(#72a8ea, #003e8a);
}
.wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    margin:0;
}
.main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.keyFrame{
    -webkit-transform:translateY(-100%);
}
.in{
    -webkit-transform:translateY(0);
}
.in ~ .keyFrame{
    -webkit-transform:translateY(100%);
}
.out{
    /*-webkit-transform:translateY(100%);*/
}
.scene1,.scene2,.scene3,.scene4{
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform .5s ease-out;
    overflow: hidden;
}
.scene1{
    background: url(z1.jpg) no-repeat;
    background-size: cover;
}
.scene1 h3,.scene1 .left-side,.scene1 .right-side{
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 16px;
    -webkit-transition:-webkit-transform .5s ease-out;
    color: #fff;
    border: 1px solid #E80000;
    background-color: #E80000;
    border-radius: 100%;
}
.scene1 h3{-webkit-transform:translate(-200%,0);}
.scene1 .left-side{-webkit-transform:translate(-200%,0);}
.scene1 .right-side{-webkit-transform:translate(200%,0);}
.scene1.play h3,.scene1.play .left-side,.scene1.play .right-side{
    -webkit-transform:translate(0,0);
}
.scene1 .left-side{
    float: left;
    background-color: #FF690D;
    border-color: #FF690D;
}
.scene1 .right-side{
    float: right;
    border-color: #FFD618;
    background-color: #FFD618;
}
#btn{
    position: absolute;
    bottom: 5px;
    left: 0;
    -webkit-animation-name:holdBtn;
    -webkit-animation-duration:1.5s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-iteration-count:infinite;
    width: 100%;
    height: 3em;
}
@-webkit-keyframes holdBtn{
    0%,100%{-webkit-transform:translateY(0);}
    50%{
        -webkit-transform:translateY(-100%);
    }
}
#btn>div{
    margin: 0 auto;
    width: 6em;
    height: 3em;
    overflow: hidden;
    line-height: 5em;
    text-align: center;
    color: #fff;
    position: relative;
}
#btn>div>div{
    width: 5em;
    height: 5em;
    position: absolute;
    left: 0;
    top: 15px;
    border: .5em solid #ff0;
    -webkit-transform:rotate(45deg);
}

.scene2{
    background: url(z2.jpg) center 0 no-repeat;
    background-size: cover;
    display: -webkit-flex;
}
@-webkit-keyframes showHeight{
    0%{opacity:0;width: 0;}100%{opacity:1;width: 100%;}
}
.scene2.play .tlt{
    -webkit-transform:translate3D(0,0,0);
    -webkit-animation-name:showHeight;
}
.scene2 .tlt{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5em;
    line-height: 2.8em;
    color: rgb(79,197,199);
    -webkit-animation-duration:2s;
    -webkit-animation-fill-mode:both;
}

.scene2 .tips{
    margin: auto;
    color: rgb(255,113,226);
    font-size: 3em;
    opacity: 0;
    display: none;
}
.scene2.play .tips{
    -webkit-animation-name:setVisible;
    -webkit-animation-duration:2s;
    -webkit-animation-delay:2s;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes setVisible{
    0%{
        opacity: 1;
        -webkit-transform:scale(1);
    }
    25%{-webkit-transform:scale(1.5);}
    50%{-webkit-transform:scale(.9);}
    75%{-webkit-transform:scale(1.5);}
    100%{
        opacity: 1;
        -webkit-transform:scale(.9);
    }
}
.scene2 .hands{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10em;
    height: 10em;
    background: url(z5.gif) center 0 no-repeat;
    background-size: cover;
    -webkit-transition:-webkit-transform .5s ease-out 2s;
    -webkit-transform:translate(-100%,0);
}
.scene2.play .hands{
    -webkit-transform:translate(0,0);
}
.scene2 .progress-line{
    display: block;
    width: 100%;
    height: 0;
    background-color: #ff0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.scene2 .shakegame{
    display: none;
    margin: auto;
}
.scene2 .shakegame_milk{
    background: url(z6.jpg) center 0 no-repeat;
    background-size: cover;
    width: 20em;
    height: 19em;
}
.scene2 .turn_color{
    -webkit-animation-name:turn_color;
    -webkit-animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:infinite;
}
@-webkit-keyframes turn_color{
    0%{
        color:#f00;
    }
    50%{
        color: #ff0;
    }
    100%{
        color: #f00;
    }
}
.scene2 .progress-bar{
    position: absolute;
    opacity: 0;
    right: 1em;
    bottom: .5em;
    width: 1em;
    height: 20em;
    border: 1px solid #f00;
    background-color: #000;
    border-radius: 2px;
}

.scene2.play .progress-bar{
    -webkit-animation:showBar .5s linear 2s;
    -webkit-animation-fill-mode:both;
}
@-webkit-keyframes showBar{
    0%{opacity: 0;}100%{opacity: 1;}
}
.scene3,.scene4{
    background: url(z3.jpg) center 0 no-repeat;
    background-size: cover;
}
.scene3 .drink,.scene4 .drink{
    -webkit-transform:scale(0);
    -webkit-transition:all .5s;
    background: url(z4.jpg) center 0 no-repeat;
    background-size: cover;
    width: 10em;
    height: 5em;
}
.scene3.play .drink,.scene4.play .drink{
    -webkit-transform:scale(1);
}