html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,pre,form,p,blockquote,input,abbr,article,aside,figcaption,figure,footer,header,mark,meter,menu,nav,output,progress,section,summary,time{margin:0;padding:0;vertical-align:baseline;}
ul,ol{list-style:none;}
iframe,a,img,button{border:0;font-family: 'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
section,div,img,a{-webkit-tap-highlight-color:transparent;}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{clear:both;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.hidden{display:none;}
img{vertical-align:middle;}
a{cursor:pointer;}
a:hover{text-decoration: none;}
body{font:12px/24px 'Microsoft YaHei';}
em,i{font-style:normal}
/* page */
body,html{
	background: #000;
	height: 100%;
	width: 100%;
    position: absolute;
}
/* loading */
.loading{
    position: absolute;
    left: 50%;
    top:50%;
    width: 160px;
    margin: -20px 0 0 -80px;
}
.loading p { color: #fff; font: 12px/20px ''; text-align: center;}
.load-line{
    width: 160px; height: 10px; border-radius: 10px; margin-top: 10px;
    background: #515151;
    background: -webkit-gradient(linear, left top, left bottom, from(#515151), to(#000));
    background: -webkit-linear-gradient(#515151, #000);
    background: -moz-linear-gradient(#515151, #000);
    background: -o-linear-gradient(#515151, #000);
    background: -ms-linear-gradient(#515151, #000);
    background: linear-gradient(#515151, #000);
}
.load-line span{
    display: block;
    width: 0%; height: 10px; border-radius: 10px;
    background: #003e8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#72a8ea), to(#003e8a));
    background: -webkit-linear-gradient(#72a8ea, #003e8a);
    background: -moz-linear-gradient(#72a8ea, #003e8a);
    background: -o-linear-gradient(#72a8ea, #003e8a);
    background: -ms-linear-gradient(#72a8ea, #003e8a);
    background: linear-gradient(#72a8ea, #003e8a);
}
article{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    top: 0;
    overflow: hidden;
}
article .keyFrame{
    -webkit-transform:translateY(-100%);
}
article .in{
    -webkit-transform:translateY(0);
}
.in ~ .keyFrame{
    -webkit-transform:translateY(100%);
}
article .out{
    /*-webkit-transform:translateY(100%);*/
}
.scene1,.scene2,.scene3{
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
	width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform .5s ease-out;
    overflow: hidden;
}
.scene1{
    background: url(z1.jpg) no-repeat;
    background-size: cover;
}
.scene1 h3,.scene1 .left-side,.scene1 .right-side{
    text-align: center;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 16px;
    -webkit-transition:-webkit-transform .5s ease-out;
    color: #fff;
    border: 1px solid #E80000;
    background-color: #E80000;
    border-radius: 100%;
}
.scene1 h3{-webkit-transform:translate(-200%,0);}
.scene1 .left-side{-webkit-transform:translate(-200%,0);}
.scene1 .right-side{-webkit-transform:translate(200%,0);}
.scene1.play h3,.scene1.play .left-side,.scene1.play .right-side{
    -webkit-transform:translate(0,0);
}
.scene1 .left-side{
    float: left;
    background-color: #FF690D;
    border-color: #FF690D;
}
.scene1 .right-side{
    float: right;
    border-color: #FFD618;
    background-color: #FFD618;
}
#btn1{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    background-color: rgba(22,83,143,0.5);
    color: #fff;
}

.scene2{
    background: url(z2.jpg) center 0 no-repeat;
    background-size: cover;
}
@-webkit-keyframes showHeight{
    0%{opacity:0;height:0;}100%{opacity:1;height:200px;}
}
.scene2 .tlt{
    opacity: 0;
    font-size: 20px;
    color: rgb(4,11,39);
    -webkit-transform:translate3D(0,0,0);
    -webkit-animation-name:showHeight;
    -webkit-animation-duration:5s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-delay:1s;
    text-indent: -999em;
    background: url(http://ossweb-img.qq.com/images/wuxia/act/a20141202bigdata/end.png) no-repeat 0 0;
}
.scene3{
    background: url(z3.jpg) center 0 no-repeat;
    background-size: cover;
}